@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
}
body{
    font-size: 18px;
    height: 100vh;
    width: 100%;
    min-height: 100vh;
}
#root{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    height: 89%;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}
.add-todo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
/* input layout */
.add-todo input[type="button"]{
    display: none;
}
/* ======= */
.add-todo input{
    height: inherit;
    width: 90%;
}
.list{
    margin: 1em 0;
}
.list-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
}
.filters.mobile-only{
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.drag-drop{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Todo layout */
.item{
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Newtask{
    margin: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.item button{
    margin: 14px;
}


@media screen and (min-width:60em) {
    .filters.desktop-only button{
        margin: 0 10px;
    }
    .container{
        width: 45%;
        height: 80%;
    }
}